<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=luci.dispatcher.build_url("admin", "services", "cloudflarespeedtest","status")%>', null,
    function(x, data) {
        const tb = document.getElementById('cloudflarespeedtest_status');
        if (data && tb) {
            if (data.running) {
                tb.innerHTML = '<em><b><font color=green><%:Cloudflare Speed Test %> <%:RUNNING %></font></b></em>';
            } else {
                tb.innerHTML = '<em><b><font color=red><%:Cloudflare Speed Test %> <%:NOT RUNNING %></font></b></em>';
            }
            if (data.cron) {
                tb.innerHTML += '<em><b><font color=green> <%:Crontab enabled %></font></b></em>';
            } else {
                tb.innerHTML += '<em><b><font color=red> <%:Crontab disabled %></font></b></em>';
            }
        }
    }
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
    <p id="cloudflarespeedtest_status">
        <em><%:Collecting data...%></em>
    </p>
</fieldset>